#nettles-landing {
    color: whitesmoke;
    background-image: url("../../../pictures/nettles.png");
    background-size: cover;
    background-repeat: no-repeat;
    
};

div.landing {
    height: 100%;
    width: 100%;
    padding: 10px;
}